
charset-normalizer==3.4.2

Django==5.2.5
flatbuffers==25.2.10
fonttools==4.58.4
gast==0.6.0
markdown-it-py==3.0.0
mysqlclient==2.2.7

packaging==25.0

pillow==11.2.1

Pygments==2.19.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
requests==2.32.4

sqlparse==0.5.3

